hide-on-mobile {
  display: block; /* Visible by default on larger screens */
}
/* Styles for screens with a maximum width of 600px (or your chosen breakpoint) */
@media screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none; /* Hide the element on mobile screens */
  }
}

.logo-img { 
  width: 80px; 
  height: 80px; 
}
 /* Medium screens */ 
@media (max-width: 768px) { 
  .logo-img { width: 60px; height: 60px; } 
} /* Small screens */ 
@media (max-width: 480px) { 
  .logo-img { width: 60px; height: 60px; } 
}

.login-bg{
  background-image: url("../../Asset/background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  position: absolute;
}
@media (max-width: 768px) {
  .login-bg {
    background-image: url("../../Asset/mobile-background.jpg");
  }
}

.login-bg::-webkit-scrollbar {
  width: 0;
}

.companyName{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 2rem;
}